@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:700);

@import url(http://fonts.googleapis.com/css?family=Signika:700);

@import url(http://fonts.googleapis.com/css?family=Poly);
/*================

	Styles for screen and print
	Version 4.0
	Author: Hatchd
	Created: 02.08.2012
	Last major revison: 06.12.2012

	......MMM...........................................MM ................MMM.....
	......MMM.......................MM .................MM.................MMM.....
	......MMM.......................MM..................MM.................MMM.....
	......MMMMMMMM..... MMMMMM......MMMMMM....8MMMMM,...MM:MMMMN..... MMMMMMMM.....
	......MMMMMMMMM ...$MMMMMMM8....MMMMMM...MMMMMMM7...MMMMMMMMM... MMMMMMMMM.....
	......MMM... MM..........MMM....MMN..... MMM........MM....MMM...,MM....MMM.....
	......MMM... MM.....MMMMMMMM....MMN......MM.........MM....MMM...MMM....MMM.....
	......MMM... MM....MMM.::MMM....MMN......MM ........MM....MMM...MMM....MMM.....
	......MMM... MM....MMZ...MMM....MMN..... MM?........MM....MMM...=MM....MMM.....
	......MMM... MM....MMM. MMMM....MMM,.~ . MMMD.,$=...MM....MMM....MMM:,MMMI.....
	......MMM... MM....:MMMMM:MM....ZMMMMM....MMMMMM7...MM....MMM.... MMMMMMD......

==================*/
/*

    max-width ..... = mwth  (max pixel width of container)
    default-context = d-col (default number of columns)
    context ....... = c-col (if nesting, column count of container)
    column  ....... = t-col (target column count)
    gutter  ....... = gtr   (gutter)

    width = 100 / d-col * t-col
    gutterno = gtr * (col -1)

    240 is what percent of 400?
    240 ÷ 400 =.60 = 60%

*/
.grid-container {
  max-width: 1000px;
  width: 90%;
  margin: 50px auto;
}
.grid-container div {
  height: 600px;
}
.leftcol {
  float: left;
  width: 32%;
  margin-right: 2%;
}
.rightcol {
  float: left;
  width: 66%;
  margin-right: 2%;
  margin-right: 0;
}
.rcol-left {
  float: left;
  width: 69.1%;
  margin-right: 3%;
}
.block1 {
  float: left;
  width: 25.714285714285715%;
  margin-right: 4%;
}
.block2 {
  float: left;
  width: 70.28571428571429%;
  margin-right: 4%;
  margin-right: 0;
}
.rcol-right {
  float: left;
  width: 27.9%;
  margin-right: 3%;
  margin-right: 0;
}
ul {
  margin: 0 !important;
  padding: 0 !important;
  list-style: none;
}
ul li {
  display: block;
  height: 40px;
  float: left;
  width: 46%;
  margin-right: 2%;
  margin-left: 2%;
  background: #cccccc;
}
body {
  font-family: 'Poly', sans-serif;
}
.page-title {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 700;
}
@media screen {
  article,
  aside,
  details,
  figcaption,
  figure,
  footer,
  header,
  hgroup,
  nav,
  section,
  summary {
    display: block;
  }
  audio,
  canvas,
  video {
    display: inline-block;
    *display: inline;
    *zoom: 1;
  }
  audio:not([controls]) {
    display: none;
    height: 0;
  }
  [hidden] {
    display: none;
  }
  html {
    font-size: 100%;
  }
  a:active,
  a:hover {
    outline: 0;
  }
  fieldset {
    border: 1px solid #c0c0c0;
    margin: 0 2px;
    padding: 0.35em 0.625em 0.75em;
  }
  legend {
    border: 0;
    padding: 0;
    white-space: normal;
    *margin-left: -7px;
  }
  button,
  input,
  select,
  textarea {
    font-size: 100%;
    margin: 0;
    vertical-align: baseline;
    *vertical-align: middle;
  }
  button,
  input {
    line-height: normal;
  }
  button,
  html input[type="button"],
  input[type="reset"],
  input[type="submit"] {
    -webkit-appearance: button;
    cursor: pointer;
    *overflow: visible;
  }
  button[disabled],
  input[disabled] {
    cursor: default;
  }
  input[type="checkbox"],
  input[type="radio"] {
    box-sizing: border-box;
    padding: 0;
    *height: 13px;
    *width: 13px;
  }
  input[type="search"] {
    -webkit-appearance: textfield;
    -moz-box-sizing: content-box;
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
  }
  input[type="search"]::-webkit-search-cancel-button,
  input[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none;
  }
  button::-moz-focus-inner,
  input::-moz-focus-inner {
    border: 0;
    padding: 0;
  }
  textarea {
    overflow: auto;
    vertical-align: top;
  }
  table {
    border-collapse: collapse;
    border-spacing: 0;
  }
  body {
    font-size: 100%;
    line-height: 1.5em;
    color: #111111;
    text-shadow: 0px 1px 0px #999999;
  }
  p,
  li dt,
  dd {
    font-size: 1em;
    line-height: 1.5em;
  }
  p {
    margin: 0 0 1em 0;
  }
  hr {
    height: 0;
    margin: 0 0 1em 0;
    padding: 0;
    border: none;
    border-top: 1px solid #cccccc;
  }
  sup,
  sub {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
  }
  sup {
    top: -0.5em;
  }
  sub {
    bottom: -0.25em;
  }
  ins {
    background-color: #fffb88;
  }
  del {
    text-decoration: line-through;
  }
  s {
    color: #cccccc;
    text-decoration: line-through;
  }
  mark {
    background-color: #fffb88;
    color: inherit;
    font-weight: normal;
  }
  small {
    font-weight: normal;
    font-style: normal;
  }
  strong,
  b {
    font-weight: inherit;
    color: #24c0eb;
  }
  em,
  i {
    font-style: italic;
  }
  dfn,
  abbr {
    font-style: inherit;
    position: relative;
  }
  hgroup {
    position: relative;
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    line-height: 1.2em;
    font-weight: normal;
    margin: 1em 0 0.5em 0;
    position: relative;
    color: #24c0eb;
    clear: both;
  }
  h1 {
    font-size: 5em;
    text-shadow: 0px 1px 0px #eee;
    line-height: 1em;
  }
  h2 {
    font-size: 1.25em;
  }
  h3 {
    font-size: 1em;
    font-weight: bold;
  }
  h4,
  h5,
  h6 {
    font-size: 1em;
  }
  hgroup {
    margin: 0 0 1em 0;
  }
  hgroup h1,
  hgroup h2,
  hgroup h3 {
    margin: 0;
  }
  ul,
  ol,
  dl {
    margin: 0 0 1em 2em;
    padding: 0;
  }
  li {
    margin: 0 0 0.25em 0;
  }
  ul {
    list-style: disc outside;
  }
  ul ul {
    margin: 0.25em 0 0.5em 1em;
  }
  ol {
    list-style: decimal outside;
  }
  ol ol {
    margin: 0.25em 0 0.5em 1.5em;
    list-style-type: lower-roman;
  }
  dl {
    margin-left: 0;
  }
  dt {
    font-weight: bold;
    margin: 0 0 0.5em 0;
    padding: 1em 0 0 0;
  }
  dd {
    margin: 0 0 0.5em 0;
  }
  blockquote {
    margin: 0 0 1em 3em;
  }
  blockquote > p {
    font-size: 1.4em;
    margin-bottom: 0.60em;
  }
  blockquote > p:first-child:before {
    content: '\201C';
  }
  blockquote > p:first-child:after {
    content: '\201D';
  }
  blockquote footer p {
    margin: -0.5em 0 0 0;
    font-size: 0.85em;
    font-style: italic;
  }
  blockquote footer p:before {
    content: "- ";
  }
  q {
    font-style: italic;
    color: inherit;
  }
  cite {
    font-style: italic;
  }
  pre {
    white-space: pre;
    width: 100%;
    overflow: auto;
    margin: 0 0 1em 0;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
  }
  code,
  samp,
  kbd {
    display: inline-block;
    padding: 0 0.5em;
  }
  var {
    font-style: italic;
    font-weight: bold;
  }
  a,
  a:link,
  a:visited {
    color: #24c0eb;
    text-decoration: none;
  }
  a:hover {
    color: #24c0eb;
  }
  a:active {
    color: #24c0eb;
    text-decoration: underline;
  }
  ::selection {
    color: #ffffff;
    background: #24c0eb;
  }
  ::-moz-selection {
    color: #ffffff;
    background: #24c0eb;
  }
  form {
    position: relative;
    margin: 0 0 1em 0;
  }
  fieldset {
    margin: 0;
    padding: 0;
    border: none;
  }
  legend {
    margin: 0 0 0.5em 0;
    padding: 0;
    font-size: 1;
  }
  label {
    display: inline-block;
    margin: 0 0 0.25em 0;
  }
  input,
  textarea,
  select {
    display: block;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    width: 100%;
    margin: 0;
    padding: 10px 15px;
    border: 1px solid #cccccc;
    color: #111111;
  }
  input[type="checkbox"],
  input[type="radio"] {
    display: inline-block;
    width: auto;
    float: left;
    border: none;
    margin: 0.25em 0.5em 0 0;
  }
  textarea {
    min-height: 200px;
  }
  button {
    padding: 0.5em;
    cursor: pointer;
  }
  form ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }
  form li {
    position: relative;
    margin: 0;
  }
  form li input,
  form li select,
  form li textarea {
    margin-bottom: 1.5em;
  }
  form li input[type="checkbox"],
  form li input[type="radio"] {
    margin-bottom: 0.5em;
  }
  form .buttons {
    padding-top: 1.5em;
  }
  figure {
    display: inline-block;
    margin: 0 0 1em 0;
  }
  figure img {
    margin-bottom: 0;
  }
  figcaption {
    margin-top: 0.25em;
    font-style: italic;
  }
  img {
    display: block;
    width: auto;
    max-width: 100%;
    border: 0;
    margin: 0 0 1em 0;
  }
  table {
    width: 100%;
    margin: 0 0 1em 0;
    border: 1px solid #111111;
  }
  table,
  th,
  td {
    border-collapse: collapse;
  }
  th,
  td {
    padding: 0.5em;
    border: 1px dotted #111111;
    border-top: none;
    border-right: none;
    text-align: left;
  }
  thead th {
    border-bottom: 2px solid #111111;
  }
  tfoot td {
    border-bottom: none;
    font-size: 0.85em;
    font-style: italic;
  }
  .visual-hide {
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
  }
  .hide {
    display: none;
  }
  .clear {
    clear: both;
    display: block;
  }
  .clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
  }
  .clearfix {
    display: inline-block;
  }
  /* Start commented backslash hack \*/
  * html .clearfix {
    height: 1%;
  }
  .clearfix {
    display: block;
  }
  /* Close commented backslash hack */
  .replaced {
    display: block;
    text-indent: -900000px;
    overflow: hidden;
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: top left;
  }
  body {
    margin: 0;
    background: fixed;
    background-color: #8b8b8b;
    background-image: -moz-linear-gradient(top, #777777, #aaaaaa);
    background-image: -ms-linear-gradient(top, #777777, #aaaaaa);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#777777), to(#aaaaaa));
    background-image: -webkit-linear-gradient(top, #777777, #aaaaaa);
    background-image: -o-linear-gradient(top, #777777, #aaaaaa);
    background-image: linear-gradient(top, #777777, #aaaaaa);
    background-repeat: repeat-x;
  }
  .wrapper {
    width: 90%;
    max-width: 500px;
    padding: 2em 0;
    margin: 0 auto;
    color: #ffffff;
  }
  .page-title {
    text-align: center;
    margin-bottom: 40px;
    text-transform: uppercase;
  }
  .title {
    margin-bottom: 0.25em;
  }
  .subtitle {
    font-size: .9em;
  }
  .avatar {
    width: 47.5%;
    float: left;
  }
  .avatar.first {
    margin-right: 5%;
  }
  .page-body {
    text-align: center;
  }
}
@media screen and (max-width: 1200px) {
  
}
@media screen and (max-width: 800px) {
  
}
@media print {
  
}
