//=========
	//Master layout
	//(the scaffolding of the site, defined through elements that occur only once per page, defined via an aria role or ID)
//=========

//===
	//Outer areas
//===

    html{
        // border-top:solid 5px @babyblue;
    }
	body{
		margin:0;
        background:fixed;
        #gradient.vertical(@startColor: #777, @endColor: #aaa);
        // border-top:solid 5px darken(@babyblue, 40);
	}

    .wrapper{
        width:90%;
        max-width:500px;
        padding:2em 0;
        margin:0 auto;
        // background:@white;
        color:@white;
    }

    .page-title{
        text-align:center;
        margin-bottom:40px;
        text-transform: uppercase;
    }
        .title{
            // font-size:6em;
            margin-bottom:0.25em;
            // border-top:solid 10px @white;
            // border-bottom:solid 10px @babyblue;
            // padding:10px 0;
            // box-shadow:0px 1px 0px darken(@babyblue, 40);
        }
        .subtitle{
            font-size:.9em;
        }
        .avatar{
            width:47.5%;
            float:left;
            &.first{
                margin-right:5%;
            }
        }

    .page-body{
        text-align:center;
    }
