//=========
	//Master layout
	//(the scaffolding of the site, defined through elements that occur only once per page, defined via an aria role or ID)
//=========

//===
	//Outer areas
//===

    html{
        // border-top:solid 5px @babyblue;
    }
	body{
		margin:0;
        background:fixed;
        #gradient.vertical(@startColor: #777, @endColor: #aaa);
	}

    .wrapper{
        width:90%;
        max-width:500px;
        padding:2em 0;
        margin:0 auto;
        color:@white;
    }

    .triangle{
        display:block;
        position:absolute;
        width: 0px;
        height: 0px;
        border-style: solid;

        border-color: @babyblue transparent transparent transparent;
    }
    .topleft{
        top:0;
        left:0;
        border-width: 50px 50px 0 0;
    }
    .topright{
        top:0;
        right:0;
        border-width: 50px 0 0 50px;
    }

    .page-title{
        text-align:center;
        margin-bottom:40px;
        text-transform: uppercase;
    }
        .title{
            margin-bottom:0.25em;
        }
        .subtitle{
            font-size:.9em;
        }
        .avatar{
            width:47.5%;
            float:left;
            &.first{
                margin-right:5%;
            }
        }

    .page-body{
        text-align:center;
    }
